/*--------------------------------------------------------------------
Custom
--------------------------------------------------------------------*/

/*Colors*/
$background-color: #4C6075 !default;
$text-color: #f0c13e !default;
$primary-color: #FFFFFF !default;
$border-color: mix($primary-color, $background-color, 0%) !default;
$code-background-color: #FFFFFF !default;
$code-background-color-dark: #FFFFFF !default;
$from-background-color: mix(#000, #4C6075,15%) !default;
$footer-background-color: #121913 !default;
$link-color: #FFFFFF !default;
$link-color-hover: #F9FAFB !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: #b2bfda !default;
$masthead-link-color-hover: mix(#000, #95a7cd, 20%) !default;
$navicon-link-color-hover: mix(#000, #95a7cd, 60%) !default;

.page__title{
    color: $link-color;
}
